<center> <img style="float: center;" src="images/CI_horizontal.png" width="450">
<center>
    <span style="font-size: 1.5em;">
        <a href='https://www.coleridgeinitiative.org'>Website</a>
    </span> 
    <br>

 # <center>UMETRICS Dataset Exploration</center>
<br>
<center>Rukhshan Arif Mian, Brian Kim, Ekaterina Levitskaya, Maryah Garner</center>

### Learning Objectives

This notebook extends on the previous notebook (`01_Data_Exploration_SED_SDR.ipynb`) in that we apply similar exploratory analysis using SQL and R but on a different data source, UMETRICS.

**UMETRICS**: institution- / individual-level administrative data from universities.

Within UMETRICS, we introduce 3 tables:

1. `semester`: sources of funding at an individual-semester level. Full path: `ds_iris_umetrics.dbo.semester`
2. `core_award`: transaction data on every sponsored project that has direct or overhead (indirect) expenditures. Full path: `ds_iris_umetrics.dbo.core_award`
3. `core_employee`: provides information about the individuals working on awards at IRIS member universities. Full path: `ds_iris_umetrics.dbo.core_employee`

**This notebook provides an introduction and examples for:**

- How to create new tables from larger tables in a database (sometimes called the "analytical frame")
- How to explore different variables of interest
- How to explore aggregate metrics
- How to join tables

### R Setup

Before using R functions that are not available in `base` R, load them using the built-in function `library()`. For example, running `library(tidyverse)` loads the `tidyverse` suite of packages.

> As we did in `01_Data_Exploration_SED_SDR.ipynb`, we suppress any messages and warnings associated with reading in the libraries to avoid clutter in our output. We also use the `ODBC` R package which allows us to interact with the database using SQL to pull data into R. Some additional manipulations are handled by R (by converting the datasets into dataframes).

In [ ]:
# Switching off warnings
options(warn = -1)

# Database interaction imports
suppressMessages(library(odbc))

# for data manipulation/visualization
suppressMessages(library(tidyverse))

# scaling data, calculating percentages, overriding default graphing
suppressMessages(library(scales))

# add weights to data
suppressMessages(library(survey))

#Switching on warnings
options(warn = 0)

## Load the Data

### Establish a Connection to the Database

The following code cells show how to use R to read data from a relational database. First, connect to the database using the `dbConnect` function. The `Driver` argument specifies the type of SQL database, while the `Server` arguments point to where the database is within the ADRF. 


> When creating your own notebook(s) in this course, remember to copy the following code chunk and use it to start each notebook to be able to connect to the database.

__Database Connection__

In [ ]:
# Connect to the database
con <- DBI::dbConnect(odbc::odbc(),
                     Driver = "SQL Server",
                     Server = "msssql01.c7bdq4o2yhxo.us-gov-west-1.rds.amazonaws.com",
                     Trusted_Connection = "True")

### Formulate Data Query

Writing a SQL query in Jupyter Notebook using R is similar to writing a SQL query in DBeaver. Depending on the questions of interest, different queries can be used to pull different data.

__Create a query as a `character` string object in R__

The query in the below code block is used to pull all columns from the UMETRICS `semester` table, which provides us with semester level information.
>  We use `SELECT TOP` to read-in only the first 10 rows; this is to acquaint you with the `semester` table. Examine all the different columns in this table.

In [ ]:
# Create query character string
    # Database name: ds_iris_umetrics
    # Schema name: dbo
    # Table name: semester
qry <- 
" 
SELECT TOP 10 *
FROM ds_iris_umetrics.dbo.semester
"

### Reading in the Data 

The data can be read into an R dataframe using the `con` and `query` as inputs to `dbGetQuery()`. 

> Recall that `con` (our server connection) includes a reference that tells it what driver to use. Forgetting to set up the driver would cause an error.

In [ ]:
# read in dataframe and assign to umetrics_df
umetrics_df <- dbGetQuery(con, qry)

# see first few rows of umetrics_df
head(umetrics_df)

In [ ]:
# view the columns in this df
names(umetrics_df)

# Summary Statistics

This section covers aggregating statistics on the data. The goal of this exercise is to get a better understanding of the data. Ask the following questions: *Are the data generally clean? What are possible sources of error? What are the types of objects and what are the variables?* To answer broader research questions, start by looking at simple aggregate statistics in each of the data sources.

> Note: __**Large tables can take a long time to process on shared databases**__, so we demonstrate using SQL and R with consideration for how much data is read back into R.

**Motivating Questions:**

- What sources frequently fund doctorate students from the 2015 cohort?
- For the top 3 sources of funding, how does the frequency of funding vary over time?

Recall the SED cohort for 2015 that we used in the previous notebook. We will use UMETRICS data here to help provide insight into the funding history of doctorate students.

The `semester` table provides us with funding history by each semester between 2011 and 2020. We utilize the `INNER JOIN` clause in SQL to combine the SED cohort for 2015 with the semester-level table.

>**Note**: This join can be performed in R as well (using the `inner_join` function) but both the SED and semester tables are fairly large. As noted just above, because large tables can take a long time to process, using SQL to combine larger tables is always encouraged. 


Once we have combined our tables in SQL, we will read them into R as a dataframe.

## Combining SED with UMETRICS
To combine SED with UMETRICS, we'll join SED with the SED-UMETRICS crosswalk and then with the UMETRICS `semester` table. The SED-UMETRICS crosswalk allows us to link **drf_id** (INDIVIDUAL ID NUMBER) from SED with **emp_number** (INDIVIDUAL EMPLOYEE NUMBER) in UMETRICS, making it possible for us to combine two different tables with different primary keys.

There are three steps we take to combine SED with UMETRICS:
1. Combine the SED data (only selecting the **drf_id** and **phdinst**)) with the SED-UMETRICS crosswalk using an inner-join on **drf_id**
2. Combine the resulting table and with the UMETRICS semester table (all columns) using an inner-join on **emp_number**
3. Filter to only keep the 2015 SED cohort.

> Performing a `JOIN` or an `INNER JOIN` only keep observations that are in both SED and UMETRICS. In this notebook, we use `INNER JOIN` to remind you the type of join that is being performed. We encourage you to think about cases where it might be useful to use a different type of join. For your research project, you might want to include all observations from SED even if they do not appear in UMETRICS – allowing you to keep individuals that did not receive any funding.

In [ ]:
# First, join the SED table using THE SED-UMETRICS crosswalk, and then join the resulting table with the IRIS semester table
qry <- "
SELECT sed.drf_id, sed.phdinst, iris_semester.*
FROM ds_nsf_ncses.dbo.nsf_sed sed
INNER JOIN tr_ncses_2021.dbo.sed_umetrics_xwalk xwalk ON sed.drf_id = xwalk.drf_id
INNER JOIN ds_iris_umetrics.dbo.semester iris_semester ON iris_semester.emp_number = xwalk.emp_number
WHERE phdfy = '2015'
"
# read in dataframe and assign to sed_umetrics
sed_umetrics <- dbGetQuery(con, qry)

# first few observations
head(sed_umetrics)

In [ ]:
# column names
names(sed_umetrics)

### Checking for duplicates

One of our assumptions with the combined SED-UMETRICS dataframe is that it is unique at the individual-semester level. That is, we only see one observation for every individual-semester (**drf_id-semester**) combination. We can check this assumption using the code below. Here, we group by **drf_id** and **semester**, count the number of observations we see (per group), and then sort this count in descending order to see the highest counts first. 

If the combine SED-UMETRICS datafrmae is unique at the individual-semester level, each **drf_id-semester** combination should appear only once.

In [ ]:
sed_umetrics %>%
    group_by(drf_id, semester) %>%
    summarize(count = n()) %>%
    arrange(desc(count)) %>%
    head()

Arranged in descending order of count, we can see that there are no duplicates because the highest count is 1.

## Modal funders

In the `semester` table, there is a variable, **modal_funder**, which indicates a source which most frequently funds a given student in a given semester. You are encouraged to refer to the data dictionary to learn more about this variable.

Recall our first motivating question: *What sources frequently fund doctorate students from the 2015 cohort?* To address this question, we utilize **modal_funder** to explore the counts of doctorate students who received funding from a particular source. Furthermore, we count the number of semesters funded by each source between 2011 and 2020.

In [ ]:
# group by modal funder, create counts, sort in descending order, omit missing values
modal_funders <- sed_umetrics %>%
    group_by(modal_funder) %>% # group by modal_funder
    summarise(count_individuals = n_distinct(drf_id), # count the number of distinct individuals (drf_id)
              count_inst = n_distinct(phdinst), # count the number of distinct phd institutions (phdinst)
              total_semesters_funded = n_distinct(semester)) %>% # count the number of (distinct) semesters funded (semester)
    arrange(desc(count_individuals)) #sort in descending order of individual count

head(modal_funders)

Note that we use the `n_distinct` function above. This function counts the number of unique values in a vector or variable – we use this to avoid double
counting.

Even though it is not required at all times, in this case, it is useful for us to sort **count_individuals** in descending order so we are able to see the most frequent sources of funding first. We do this by using `arrange(desc(count_individuals))`. We would use `arrange(count_indivdiduals)` to sort this in ascending order if we wanted to see the least frequent source of funding first.

>**Note**: not everyone has a modal funder recorded; In fact, as you see, having 'NA' for modal funder is the most common outcome recorded – this is because the modal funder for those individuals is not coming from a federal agency. For the purpose of this analysis we will remove these **NA** observations using the `filter` function. When working on your research project we recommend TRYING to understand the **NA** observations and how they relate to your question(s) before removing them.

In [ ]:
modal_funders <- modal_funders %>%
    filter(!is.na(modal_funder)) # ! refers to not. here, we are looking for non-missing values (not is.na(modal_funder))

head(modal_funders)

## Frequency of funding over time

Next, we address our second motivating question: For the top 3 sources of funding, how does the frequency of funding vary over time? The first step here is to identify the top 3 sources of funding.

The `modal_funders` dataframe we created above is sorted (in descending order) on the number of individuals funded by a particular source. That is, the first observation in this dataframe corresponds to the source that most frequently funds doctorate students, the second observation corresponds to the second most frequent source of funding, and so on.

Subsetting our data to include the first 3 observations:

In [ ]:
## Alternative method to getting modal funders
top3_modal_funders <- head(modal_funders, 3) # here, 3 refers to keeping the first 3 observations
top3_modal_funders

Our goal is to see how these sources of funding varied, in terms of students funded, over time. To further clarify, we want to know the number of doctorate students funded by each source in each semester. 

The code for this is as follows:

In [ ]:
top3_by_sem <- sed_umetrics %>%
    filter(modal_funder %in% top3_modal_funders$modal_funder) %>% # filter to keep only the most frequent funding sources
    group_by(modal_funder, semester) %>% # grouping by funding source and semester
    summarise(count_individuals = n_distinct(drf_id), # counting the number of distinct individuals (doctorate students)
              count_inst = n_distinct(phdinst)) %>% # counting the number of distinct institutions
    arrange(semester) # sorting in ascending order by semester

head(top3_by_sem)

# Exploring Binary Variables

Within our semester table, we have binary variables for each source of funding as well. These are shown below:

In [ ]:
names(sed_umetrics)

That is, we have a column named **NSF** that equals 1 if an individual received any funding from NSF during a semester and equals 0 if otherwise. You are encouraged to refer to the data dictionary to learn more about the binary variables in this table.

In this section, we look into methods we can utilize to aggregate and explore binary variables in R. We consider **NSF** for this notebook. Our **motivating questions** are as follows:

- How many number of individuals has NSF funded over time?
- For each student, find the number of semesters that were funded by NSF. What is the highest number of semesters a student was funded by NSF?
- Number of students funded for each duration. That is, how many students were funded by NSF for 1 semester? 2 semesters? 3 semesters? and so on.

### NSF Column

We explore this column using the code below:

In [ ]:
# use the table function to view the distribution of values in the NSF column
table(sed_umetrics$NSF, useNA="always") # useNA = "always" to include the number of missing values for this column

Another way to explore a binary variable is to do the following:

In [ ]:
# use the `sum` function. Our column only consists of 1s or 0s (in this case, we ignore missing values using `na.rm`)
sum(sed_umetrics$NSF, na.rm = TRUE) # we can sum the column to arrive at the number of observations for whom **NSF** equals 1.

### How many individuals has NSF funded over time?

To address our first motivating question, we subset our data frame to only keep students who have been funded by NSF in at least one semester. Next, we group by each semester and count the number of individuals.

In [ ]:
counts_NSF_fund <- sed_umetrics %>%
    filter(NSF == 1) %>% # filter to keep observations for whom NSF = 1
    group_by(semester) %>% # group by semester
    summarise(count_indiv_NSF_funded = n_distinct(drf_id), # count the distinct number of doctorate students
              count_inst = n_distinct(phdinst)) # count the distinct number of institutions

head(counts_NSF_fund)

**Note: some observations would not pass disclosure review (it’s a good example). We would need some kind of aggregation here.**

### Number of semesters NSF funded (by individual):

Next, we look at the number of semesters in which each student received any type of funding by NSF. To further clarify, for how many semesters did a student receive any type of funding from NSF? 

This type of exploration is at the individual (**drf_id**) level and allows us to see the total number of semesters that NSF provided any type of funding for a doctorate student. 

We approach this using the code below:

In [ ]:
NSF_num_sem <- sed_umetrics %>%
    filter(NSF == 1) %>% # keep observations for NSF (where NSF = 1)
    group_by(drf_id) %>% # group by individual
    summarise(num_sem_funded = n_distinct(semester), # count the number of semesters funded
              count_inst = n_distinct(phdinst)) %>% # count the number of institutions
    arrange(desc(num_sem_funded))

head(NSF_num_sem)

## Number of semesters funded and corresponding number of students
Next, we count the number of semesters funded by NSF and the corresponding counts of individuals. Note that this is different from our first motivating question. Previously we looked at the number of individuals funded by NSF in each semester. Here, we look at the number of individuals who were funded for 1, 2, 3, 4 (and so on) semesters.

We first get the counts of number of semeseters funded by NSF by each student (exactly what we did in the code above):

In [ ]:
NSF_num_indiv_sem <- sed_umetrics %>%
    filter(NSF == 1) %>% # keep observations for NSF
    group_by(drf_id) %>% # group by individual
    summarise(num_sem_funded = n_distinct(semester)) # count the number of semesters

After doing so, we use the code below to count the number of individuals associated with a certain semester count.

In [ ]:
NSF_num_indiv_sem_grp <- NSF_num_indiv_sem %>%
    group_by(num_sem_funded) %>% # group by number of semesters funded
    summarise(num_indiv = n_distinct(drf_id)) # count the number of individuals

head(NSF_num_indiv_sem_grp)

# Exploring Core Awards

The aim of this sub-section is to give you a brief overview of the `core_award` table in the `ds_iris_umetrics` database. We encourage you to think about how you may want to utilize the columns in this table for you research project. `core_award` provides us with information related to awards in UMETRICS' database.

We call the first 10 observations of `core_award`:

In [ ]:
qry <- "
SELECT TOP 10 * 
FROM ds_iris_umetrics.dbo.core_award"
core_award <- dbGetQuery(con, qry)

head(core_award)

You are encouraged to explore the columns (as shown below) and refer to the data dictionary to learn more about what each column stands for.

In [ ]:
names(core_award)

# Exploring Core Employee

Similarly to `core_award`, we have a `core_employee` table that includes information on awards at an employee level. As in the case for `core_award`, we encourage you to think about how these tables can be utilized as part of your research project. Furthermore, you may think about if it is possible to combine `core_award` with `core_employee`. If so, how could a combined table be useful when thinking about your research question? What might be the associated disadvantages? (hint: extremely large table)

As a note, these tables (especially `core_employee`) are fairly large so it might make sense to define a specific cohort and join these two tables based on that.

We provide a brief introduction of the `core_employee` table below:

In [ ]:
qry <- "
SELECT TOP 10 * 
FROM ds_iris_umetrics.dbo.core_employee
"

core_employee <- dbGetQuery(con, qry)
head(core_employee)

In [ ]:
names(core_employee)

You are encouraged to refer to the data dictionary to learn more about the different columns in `core_employee`.

Note: In the case of reading in the `core_award` and `core_employee` tables, we choose to only read in the first (top) 10 observations. One of the drawbacks of using R is that it struggles with handling very large data. Thus, in order to effectively use these tables, it is useful to perform exploration and analysis tasks in DBeaver. If we are to use R, it might be useful to define a specific cohort and analyzing that as opposed to calling in the complete tables.

## Saving Results

We have already created a directory structure for you. Within the `Module 2` folder, you will see the following:

- Figures
- Tables

We will now save some of the tables that we created above as csv files.

For this purpose, we utilize the following code:

`write.csv(df_to_save, "Tables\\df_to_save.csv", row.names = FALSE)`

Here:

- `df_to_save` refers to the R data frame we want to save. 
- `"Tables\\df_to_save.csv"` refers to the filepath, we would like to save our data frame in.
- `row.names = FALSE` excludes row numbers when we save our data frame as a csv. If we had `TRUE` instead of `FALSE`, we would have an extra column (of row numbers) as the first column in our csv. 


We have added the saving code for each data frame we want to save and you do not have to make any updates to the code below in order for it to run.

In [ ]:
# top 3 modal funders – semester wise counts
write.csv(top3_by_sem, "Tables\\top3_by_sem.csv", row.names = FALSE)

## Closing the Database connection

Uncomment the code below to close the database connection. This allows us to free up resources (most importantly, memory) for future work. However, you are advised to close the connection only when you have executed the cells above. 

**Note**: Once the connection is closed, you will have to re-open the connection (at the start of the notebook) to utilize run the code again. You will not be able to run any SQL-related code in R once the connection is closed. That is, once you have run `dbDisconnect(con)`, you will have to re-run the code associated with establishing a connection with SQL to interact with any tables.

In [ ]:
# Close the database connection
# dbDisconnect(con)